{% extends "ca/layout.html" %}
{% block body %}
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="//d3js.org/d3-queue.v2.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('ca.static', filename='css/map.css') }}">
<div id="candidates" class="center-text">
  <h4>the election of <span class="year">{{e.year}}</span></h4>
  {% for candidate in e.candidates %}
    <div class="candidate"><div class="party fill-{{candidate.color}}"></div>
    <h6{% if e.winner == candidate.last %} class="winner-{{candidate.color}}"{% endif %}>{{candidate.first}} {{candidate.last}}</h6> | {{candidate.party}}
    </div>
  {% endfor %}
  <div class="candidate"><div class="party fill-purple"></div>Third party</div>
</div>
<div id="container" class="center">
  <svg id="map"><g id="states"></g><g id="pies"></g></svg>
</div>
<script src="{{ url_for('ca.static', filename='js/map.js') }}"></script>
<script>
var year = {{e.year}};
var states = d3.select("#map #states");
var pies = d3.select("#map #pies");
var projection = d3.geo.albersUsa().scale(1200);
var path = d3.geo.path().projection(projection);
d3_queue.queue().defer(d3.json, "{{e.getMapPath()}}")
                .defer(d3.json, "{{ url_for('ca.getCurrentElectionJson') }}")
                .await(makeMap);
                
function makeMap(error, map, election) {
  if(error) console.log(error);
  var map_elements = topojson.feature(map, map.objects.stdin);
  states.selectAll("path").data(map_elements.features).enter().append("path")
    .attr("d",path)
    .attr("class",function(d) { return us_element_class(d, year); })
    .attr("alt",function(d) { return d.id; });
  addPies(path, map_elements, pies, election);
}
</script>
{% endblock %}