#candidates {
    margin:0;
    padding:20px;
}
svg, g {
    margin:0;
    padding:0;
}
#map {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    display:block;
    fill:#A9A9A9;
}
div.party {
    width:15px;
    height:15px;
    display:inline-block;
    margin-right:10px;
}
div.candidate {
    padding-left:20px;
    display:inline-block;
}
.red {
    fill:#FF3B3F;
    background-color:#FF3B3F;
}
.blue {
    fill:#CAEBF2;
    background-color:#CAEBF2;
}
circle {
    fill-opacity:.6;
}
#states a :hover {
    fill-opacity:.8;
}
#states path {
    stroke:#EFEFEF;
    stroke-linejoin:round;
    stroke-linecap:round;
}
.territory {
    fill:#C3C3C3;
}