/*
#CAEBF2 -- lightest blue
#ACE0EB -- middle blue
#8DD4E3 -- light blue
#C647A5 -- magenta?
#C3C3C3 -- light gray
#A9A9A9 -- gray
#474747 -- carbon
#FF3B3F -- watermelon
#EFEFEF -- neutral
*/
body, html {
    height:100%;
    padding:0px;
    margin:0px;
}
body {
    font-family:'Montserrat', sans-serif;
    background-color:#EFEFEF;
}
h4, h5, h6 {
    display:inline;
}
h4 {
    color:#474747;
    font-size:26px;
}
h5, span.year {
    font-family:'Fjalla One', sans-serif;
    font-size:30px;
    line-height:30px; 
}
span.year {
    color:#C3C3C3;
}
h6 {
    font-size:20px;
    color:#C3C3C3;
}
.center {
    margin:auto;
}
.center-text {
    text-align:center;
}
#election-form {
    width:30%;
    padding:20px;
}