body, html {
    height:100%;
    padding:0px;
    margin:0px;
}
body {
    font-family:'Montserrat', sans-serif;
    background-color:#EFEFEF;
}
h4 {
    color:#474747;
    font-size:24px;
    line-height:24px;
}
h5, span.year {
    color:#FF3B3F;
    font-family:'Fjalla One', sans-serif;
    font-size:30px;
    line-height:30px; 
}
h6 {
    font-size:16px;
    color:#CAEBF2;
}
.center {
    text-align:center;
}