.tl-timeline {
    font-family:'Montserrat', sans-serif;
}
.tl-timeline.tl-timeline-full-embed {
    border-radius:0;
}
/*.tl-timeline h1, .tl-timeline h2, .tl-timeline h3, .tl-timeline h4, .tl-timeline h5, .tl-timeline h6 {
    color:@color-header-text;
}*/
.tl-timeline h1, .tl-timeline h2, .tl-timeline h3 {
    font-size:30px;
    line-height:30px;
}
.tl-timeline h2.tl-headline-title {
    color:#474747;
    font-size:40px;
    line-height:40px;   
}
.tl-timeline a {
    color:#474747;
	text-decoration: none;  
}
.tl-timeline a:hover {
    color:#ACE0EB;
    text-decoration:underline;
}
.tl-text .tl-headline-date, .tl-text h3.tl-headline-date {
    font-family:'Fjalla One', sans-serif;
    font-size:20px;
    line-height:20px;
    margin:0 0 3px 0;
}
.tl-slide {
    background-color:#EFEFEF;
}
.tl-slide .tl-slide-content-container .tl-slide-content {
    padding-left:30px;
    padding-right:30px;
}
.tl-slide.tl-slide-titleslide h2.tl-headline-title {
    color:#474747;
    font-size:24px;
}
.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-icon, .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-icon {
    color:#FF3B3F;
}
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content {
    padding:2px;
}
.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container {
    background-color:#ACE0EB;
}
.tl-timemarker .tl-timemarker-line-left:after, .tl-timemarker .tl-timemarker-line-right:after {
    background-color:#ACE0EB;
}