{% extends "main_layout.html" %}
{% block body %}
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="//d3js.org/d3-queue.v2.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/map.css') }}">
<div id="candidates" class="center">
  <h4 class="center">the election of <span class="year">{{e.year}}</span></h4>
  {% for candidate in e.candidates %}
    <div class="candidate"><div class="party {{candidate.color}}"></div>
    <h6{% if e.winner == candidate.last %} class="winner-{{candidate.color}}"{% endif %}>{{candidate.first}} {{candidate.last}}</h6> | {{candidate.party}}
    </div>
  {% endfor %}
</div>
<div id="map" class="center"><svg><g id="states"></g></svg></div>
<script>
  var year = {{e.year}};
  var svgStates = d3.select("svg #states");
  //var width = window.innerWidth,height = window.innerHeight;
  var projection = d3.geo.albersUsa().scale(1100);
  var path = d3.geo.path().projection(projection);
  var map = loadJson("{{e.getMapPath()}}");
  var election_data = loadJson("/getCurrentElectionJson");
  var us_elements = topojson.feature(map, map.objects.stdin);
  
  makeMap(us_elements, election_data);
  
  function makeMap(usMap, election) {
    svgStates.selectAll("path").data(us_elements.features).enter().append("path").attr("d", path).attr("class",function(d) { return class_name(d, election.candidates); });
  }
  
  function addElectionData(election) {
    var max = election.max;
    var candidates = election.candidates;
    for(i=0; i<candidates.length; i++) {
      candidate = candidates[i];
      addBubbles(candidate.last, candidate.mentions, candidate.color, max, i);
    }
  }
  
  function addBubbles(candidate, max, i) {
    svgStates.append("g").selectAll("a")
      .data(us_elements.features).enter().append("a")
      .attr("xlink:href", function(d) { return timelineLink(year, candidate.last, d);})
      .append("circle")
      .attr("transform", function(d) { return "translate(" + adjustCenter(path.centroid(d), i, getRadius(getMentions(d, candidate.mentions), max)) + ")"; })
      .attr("r", function(d) { return getRadius(getMentions(d, candidate.mentions),max); })
      .attr("class",candidate.color)
      .append("title").text(function(d) { return "See " + d.properties.name + " coverage of " + candidate.last;});
  }
  
  function timelineLink(year, last_name, element) {
    return "getTimelinePath/".concat(year).concat("/").concat(last_name).concat("/").concat(element.properties.name);
  }
  
  function adjustCenter(c, i, amt) {
    if(i == 0) {
      return [c[0],c[1] - amt];
    } else {
      return [c[0],c[1] + amt];
    }
  }
  
  function getMentions(us_element, mentions) {
    if(mentions.hasOwnProperty(us_element.id)) {
      return mentions[us_element.id];
    } else {
      return 0;
    }
  }
  
  function getRadius(r, max) {
    var radius = d3.scale.sqrt().domain([0, max]).range([5, 20]);
    return radius(r);
  }
  
  function class_name(us_element, candidates) {
    var class_name, admit = us_element.properties.admit; 
    if(admit != 0 && admit <= year) {
      class_name = "state";
    } else {
      class_name = "territory";
    }
    for (int i=0;i<candidates.length;i++) {
      var candidate = candidates[i];
      if(candidate.mentions.hasOwnProperty(us_element.properties.abbrev)) {
        class_name += "-";
        class_name += candidate.color;
      }
    }
    return class_name;
  }
  
  function loadJson(path) {
    d3.json(path, function(error, items) {
      if (error) return console.error(error);
      return items;
    });
  }
</script>
{% endblock %}