{% extends "main_layout.html" %}
{% block body %}
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="//d3js.org/d3-queue.v2.min.js"></script>
<style>
svg {
  position:absolute;
  width:100%;
  height:100%;
  fill:#bfb;
}
.bubble {
  fill:#CAEBF2;
  fill-opacity: .5;
}
#states {
  fill:#a9a9a9;
}
path {
  stroke:#EFEFEF;
  stroke-linejoin:round;
  stroke-linecap:round;
}
</style>
<svg>
  <g id="states" class="center"></g>
</svg>
<h4 class="center">the United States in <span class="year">{{year}}</span></h4>
<script>
  var topic = "{{key_word|safe}}";
  var selectedYear = '{{year|safe}}';
  
  var censusYear = Math.round(selectedYear/10)*10;
  var svgStates = d3.select("svg #states");
  var width = window.innerWidth,height = window.innerHeight;
  var projection = d3.geo.albersUsa().translate([width/2,height/2]);
  var path = d3.geo.path().projection(projection);
  var wordCountData;
	
	d3_queue.queue()
  .defer(d3.json, "/getMapData/".concat(topic).concat("/").concat(selectedYear))
  .defer(d3.json, "/static/json/map_data/".concat(censusYear).concat(".json"))
  .await(analyze);

  function analyze(error, wordCounts, usMap) {
    if(error) { console.log(error); }
    //console.log(wordCounts)
/*    for (var i = 0; i < topologies.length; i++) {
      states[startYear + i * 10] = topojson.feature(topologies[i], topologies[i].objects.stdin);
    }*/
    var states = topojson.feature(usMap, usMap.objects.stdin);
    var radius = d3.scale.sqrt().domain([0, wordCounts["max"]]).range([0, 20]);
    
    svgStates.selectAll("path").data(states.features).enter().append("path").attr("d", path);
/*    svgStates.selectAll(".state_name").data(states.features).enter()
      .append("text")
      .attr("class","state_name")
      .attr("transform", function(d) { return "translate(" + path.centroid(d) +")"})
      .attr("dy", ".35em")
      .text(function(d) { return wordCounts[d.id]; });*/
      
    svgStates.append("g").attr("class", "bubble").selectAll("circle")
      .data(states.features).enter().append("circle")
      .attr("transform", function(d) { return "translate(" + path.centroid(d) + ")"; })
      .attr("r", function(d) { return radius(wordCounts[d.id]); })
  }
</script>
{% endblock %}